@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.card {
    border: 1px solid #dedede;
    padding: 20px;
    margin-top: 25px;
}

.card img {
    border-radius: 1px;
}

.card:hover {
    border-color: 1px solid #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.card-body {
    padding: 0;
}

.card-title {
    font-size: 17px;
    font-weight: 600;
    word-break: break-word;
    color: #282c3f;
    margin: 14px 0 10px 0;
}

.card-text {
    color: #686b78;
    font-size: 13px;
    margin: 0 0 18px 0;
    min-height: 40px;
}

.list-group.list-group-horizontal {
    width: 100%;
    justify-content: space-between;
}

.list-group-item {
    border: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: #535665;
}

.list-group-item:first-child {
    border-radius: 1px;
    background: #48c479;
    color: #fff;
    height: 20px;
    width: 43px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-discount {
    margin: 0;
    border-top: 1px solid #e9e9eb;
    border-bottom: 1px solid #e9e9eb;
    margin: 14px 0;
    padding: 14px 0;
    color: #8a584b;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.card-discount svg {
    margin: 0 10px 0 0;
    background: #8a584b;
    color: #fff;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    font-size: 10px;
    padding: 7px;
}

button.btn-primary {
    font-size: 13px;
    text-transform: uppercase;
    padding: 8px 25px;
}